/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(#fff1eb, #ace0f9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
h1 {
  font-family: 'Bree Serif';
}
ul {
  list-style-type: none;
  display: flex;
}
.lists {
  display: flex;
  flex-wrap: wrap;
}
.mini {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
input {
  height: 30px;
  width: 200px;
  background-color: transparent;
  border: 1px solid black;
  border-right-width: 0px;
  padding-left: 20px;
}
.img {
  height: 30px;
  border: 1px solid black;
  border-left-width: 0px;
}
.imgandin {
  display: flex;
}
