/* Write your CSS here */
img {
  height: 70px;
  /* margin-top: 20px; */
}
.small-container {
  background-color: #ffffff;
  margin-right: 20px;
  padding: 15px;
  text-align: center;
  font-family: 'Bree Serif';
  border-radius:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
